.page-header{
    background: #FFFFFF;
}

.logo-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    }

  .site-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }

.site-nav:hover,
.site-nav:active{
    color:#2196F3
}

.page-footer{
    background:#2F303A
}

span{
    color: #2196F3;
}

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #ffffff;
}

