body{
  font-family: 'Roboto', 'Sans-Serif';
  font-size: 14px;
  letter-spacing: 0.02em;
  
  color: #757575;
  background-color: #FFFFFF;
  
}

/*  Чорний текст #000000 (лого)
    Чорний текст #212121 (імейли, підзаголовки, заголовки)
    Чорний #2F303A (заливка підвал)
    Блакитний  #2196F3 (хувер, фокус) - акцент
    Сірий #757575 (контакти, абзаци)
    Сірий #2F303A (заливка героя)
    Блідий #F5F4FA (заливка нашої команди, колір кнопок)
    Білий #FFFFFF (заливка шапки)
    Сірий прозрачний rgba(255, 255, 255, 0.6) (ссилки підвалу)
     /

/* index.html page */

.list{
  list-style: none;
}

.logo{
  font-family: 'Raleway', 'Sans-Serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;

  color: #2196F3;
}

.logo-header{
  color: #212121;
}

.header-contacts-list{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  
  text-decoration: none;
}

.header-pages-link{
  text-decoration: none;
 
  color: #212121;
}

.header-link{
  text-decoration: none;
}

.hero-section{
  background-color: #2F303A;
}

.hero-slogan{
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: #fff;
  background-color: #2F303A;
}

.order-btn{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #FFFFFF;
  background-color: #2196F3;

}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  
  text-decoration: none;
  text-transform: uppercase;
}

.features-page-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title{
  font-weight: 700;
  font-size: 1.2;
  line-height: 42px;
  letter-spacing: 0.03em;

  text-align: center;
}

.our-team-section{
  background-color: #F5F4FA;
}

.our-team-list{
    text-align: center;
}

.our-team-name{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team-position{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
}

.footer{
  background-color: #2F303A;
}

.logo-footer{
  color: #fff
}

.footer-list{
  font-style: normal; 
}

.adress{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
 
  color: #fff;
}

.footer-link{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.header-pages-link:hover,
.header-pages-link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover, 
.footer-link:focus{
  color: #2196F3;
}

/* portfolio.html page */

.filter-btn-list{
    text-decoration: none;
    color: #212121;
}

.filter-btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  
  cursor: pointer;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #F5F4FA;
}

.filter-btn:hover,
.filter-btn:focus{
  background-color: #2196F3; 
  color: #FFFFFF; 
} 

.our-work-filter{
}

.our-work-list{
   text-align: center;
}

.our-work-customer{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-work-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}
